.header {
  position: fixed;
  width: 100%;
  height: 68px;
  z-index: 15;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(245,238,228,0.53);
  &.is--open .header-menu {
    left: 0;
    &:before {
      display: block;
    }
  }
  &-logo {
    max-width: 147px;
    height: 49px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("../images/common/logo.png");
    width: 24%;
    position: absolute;
    left: calc(50% - 12%);
    margin-right: 0;
    background-size: contain;
    top: 12px;
    background-position: 50% 50%;
    &__link {

    }
  }
  .header-menu-button--mobile {
    position: relative;
    float: left;
    height: 100%;
    width: 68px;
    z-index: 22;
    display: block;
    .menu-button__line {
      width: 27px;
      height: 2px;
      margin: 20px auto 0;
      background: #fff;
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      &:before {
        top: 23px;
      }
      &:before,
      &:after {
        width: 27px;
        height: 2px;
        background: inherit;
        display: block;
        -webkit-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
        -moz-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
        -o-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
        content: "";
        position: absolute;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      &:after {
        top: 33px;
      }
    }
  }
  &-menu {
    text-align: center;
    position: fixed;
    height: 100%;
    left: -80%;
    width: 80%;
    max-width: 500px;
    top: 0;
    z-index: 33;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    &:before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background: #111;
      top: 0;
      left: 0;
      opacity: 0.8;
      display: none;
      z-index: 1;
    }
    &-list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      border-bottom: 1px solid #d3d3d3;
    }
    .header-menu__link {
      padding: 1rem 2rem;
      font-size: 17px;
      letter-spacing: -0.4px;
      color: #262626;
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 100%;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $point;
        left: 0;
        bottom: -10px;
        -webkit-transition: all 0.5s ease .1s;
        -moz-transition: all 0.5s ease .1s;
        -o-transition: all 0.5s ease .1s;
        transition: all 0.5s ease .1s;
      }
    }
    .header-menu-depth {
      display: none;
      background-color: #f7f7f7;
      border-top: 1px solid #d3d3d3;
      &__link {
        font-size: 16px;
        display: block;
        line-height: 1;
        letter-spacing: -0.36px;
        text-align: left;
        color: #717171;
        padding: 1rem 2rem;
      }
      .header-menu-depth__item + .header-menu-depth__item {
        border-top: 1px solid #d3d3d3;
      }
    }
    &-menu {
      background: $white;
      position: relative;
      z-index: 3;
      text-align: left;
      height: 100%;
      .header-menu-header {
        padding: 3rem 2rem 4rem;
        position: relative;
        .header-menu-close-button {
          position: absolute;
          right: 1rem;
          top: 1rem;
        }
      }
    }
  }
  &-tel {
    padding: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
    height: 68px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../images/common/header-tel.png");
    box-sizing: border-box;
    background-size: 23px;
  }
  &.is--active {
    background: $white;
    height: 245px;
    .header-logo {
      background-image: url("../images/common/logo-blue.png");
    }
    .header-menu__link {
      color: $point;
    }
    .header-menu__item {
      &:hover {
        .header-menu__link {
          &:after {
            width: 100%;
          }
        }
      }
    }
    .header-tel {
      background-image: url("../images/common/header-tel-blue.png");
    }
    .header-menu-depth {
      display: block;
    }
  }
  &.is--blue {
    background: $white;
    .header-logo {
      background-image: url("../images/common/logo-blue.png");
    }
    .header-menu__link {
      color: $point;
    }
    .header-tel {
      background-image: url("../images/common/header-tel-blue.png");
    }
    .header-menu-button--mobile .menu-button__line {
      background: #00163f;
    }
  }
}
