/**
 * Created by Eunjin Yang on 2019. 3. 18.
 * Github : https://github.com/jinnny
 */

$black: #000;
$lBlack: #1a1818;
$white: #ffffff;
$navy: #3d4268;
$grey: #464646;
$lgrey: #a9a9a9;
$red: #f74242;
$border: #ccc;
$green: #09a7b4;
$point: #b3a181;
$lPoint: #80745c;
$darkPoint: #1B191A;
$darkBlue: #003056;
$blue: #093354;

//font
$korea: 'NotoSansKR', sans-serif, 'Malgun Gothic', '맑은 고딕';

$default-font: $korea, AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$myeongjo: 'NanumMyeongjo', AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
