@charset "UTF-8";
/**
 * Created by Eunjin Yang on 2020. 11. 21.
 * Github : http://github.com/jinnny
 */
@import url(vendors/swiper.css);
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url("../fonts/NotoSansKR-Thin.eot");
  src: url("../fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: url("../fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}
/*normal*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
/*bold*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 800;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: url("../fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}
/**
 * Created by Eunjin Yang on 2019. 3. 18.
 * Github : https://github.com/jinnny
 */
/**
 * Created by Eunjin Yang on 2020. 12. 2.
 * Github : http://github.com/jinnny
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, body {
  font-family: "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
@media all and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

strong,
b {
  color: inherit;
  font-size: inherit;
}

i,
em {
  font-style: normal;
}

mark {
  color: inherit;
  background: none;
}

button {
  -webkit-appearance: none;
}

input {
  -webkit-border-radius: 0;
}

input:matches([type="password"], [type="search"]),
input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border-collapse: collapse;
}

/**
 * Created by Eunjin Yang on 2020. 11. 21
 * Github : https://github.com/jinnny
 */
.header {
  position: fixed;
  width: 100%;
  height: 68px;
  z-index: 15;
  box-sizing: border-box;
}
.header.is--open .header-menu {
  left: 0;
}
.header.is--open .header-menu:before {
  display: block;
}
.header-logo {
  max-width: 147px;
  height: 49px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url("../images/common/logo.png");
  width: 33%;
  position: absolute;
  left: calc(50% - 16.5%);
  margin-right: 0;
}
.header .header-menu-button--mobile {
  position: relative;
  float: left;
  height: 100%;
  width: 68px;
  z-index: 22;
  display: block;
}
.header .header-menu-button--mobile .menu-button__line {
  width: 27px;
  height: 2px;
  margin: 20px auto 0;
  background: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header .header-menu-button--mobile .menu-button__line:before {
  top: 23px;
}
.header .header-menu-button--mobile .menu-button__line:before, .header .header-menu-button--mobile .menu-button__line:after {
  width: 27px;
  height: 2px;
  background: inherit;
  display: block;
  -webkit-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  content: "";
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header .header-menu-button--mobile .menu-button__line:after {
  top: 33px;
}
.header-menu {
  padding-top: 14px;
  text-align: center;
}
.header-menu-list {
  display: flex;
}
.header-menu__item {
  padding: 0 2vw;
}
.header-menu__item:nth-child(3) {
  width: 155px;
  display: block;
  padding: 0;
}
.header-menu .header-menu__link {
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
}
.header-menu .header-menu__link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #273d6c;
  left: 0;
  bottom: -10px;
  -webkit-transition: all 0.5s ease .1s;
  -moz-transition: all 0.5s ease .1s;
  -o-transition: all 0.5s ease .1s;
  transition: all 0.5s ease .1s;
}
.header-menu .header-menu-depth {
  display: none;
  padding-top: 20px;
}
.header-menu .header-menu-depth__link {
  display: block;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #273d6c;
  letter-spacing: -0.4px;
}
.header-menu .header-menu-depth__link:hover {
  font-weight: 600;
}
.header-tel {
  margin-top: 14px;
  width: 157px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../images/common/header-tel.png");
}
.header:hover, .header.is--active {
  background: #ffffff;
  height: 245px;
}
.header:hover .header-logo, .header.is--active .header-logo {
  background-image: url("../images/common/logo-blue.png");
}
.header:hover .header-menu__link, .header.is--active .header-menu__link {
  color: #273d6c;
}
.header:hover .header-menu__item:hover .header-menu__link:after, .header.is--active .header-menu__item:hover .header-menu__link:after {
  width: 100%;
}
.header:hover .header-tel, .header.is--active .header-tel {
  background-image: url("../images/common/header-tel-blue.png");
}
.header:hover .header-menu-depth, .header.is--active .header-menu-depth {
  display: block;
}
.header.is--blue {
  background: #ffffff;
}
.header.is--blue .header-logo {
  background-image: url("../images/common/logo-blue.png");
}
.header.is--blue .header-menu__link {
  color: #273d6c;
}
.header.is--blue .header-tel {
  background-image: url("../images/common/header-tel-blue.png");
}

.footer {
  width: 100%;
  height: 216px;
  background: #001241;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 105px;
  box-sizing: border-box;
}
.footer-text {
  margin-left: 93px;
  margin-top: 30px;
}
.footer-text__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 0.94;
  letter-spacing: -0.32px;
  text-align: left;
  color: #cadbed;
  margin-top: 10px;
}
.footer-text__item:first-child {
  margin-top: 0;
}
.footer-text__item-copyright {
  color: #273d6c;
  margin-top: 21px;
  text-transform: uppercase;
}
.footer-separator {
  font-size: 12px;
  color: #273d6c;
  margin: 0 15px;
}

html {
  -webkit-font-smoothing: antialiased;
}

.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.layout::after {
  content: '';
  display: block;
  clear: both;
}
.layout.is--content-center {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 990px) {
  .layout {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

@media screen and (min-width: 991px) {
  .is--mobile {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .is--pc {
    display: none !important;
  }
}

.popup {
  position: fixed;
  width: 530px;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(463px);
  transition: transform .2s;
  background: #ffffff;
  z-index: 1111;
  display: flex;
}
.popup.is--active {
  transform: translateX(0);
}
.popup.is--active .popup-toggle-button {
  background-image: url("../images/main/popup-close-arrow.png");
}
.popup-header {
  background: #001241;
  height: 100%;
  width: 69px;
  text-align: center;
  position: relative;
}
.popup-header__logo {
  padding-top: 46px;
  box-sizing: border-box;
  height: 200px;
  background: url("../images/main/popup-logo-bg.png") no-repeat;
}
.popup-side__item {
  display: block;
  padding: 21px 0 0;
}
.popup-side__item:first-child:after {
  content: '';
  width: 18px;
  height: 1px;
  display: block;
  background: #ffffff;
  margin: 40px auto 20px;
}
.popup-toggle-button {
  background-repeat: no-repeat;
  background-image: url("../images/main/popup-open-arrow.png");
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  background-position: 50% 76%;
  height: 127px;
  width: 100%;
  left: 0;
  font-weight: 600;
}
.popup-toggle-button .popup-toggle-text {
  font-size: 20px;
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.popup-content {
  width: calc(100% - 69px);
  padding: 44px 26px;
  box-sizing: border-box;
}
.popup-content .popup-swiper-container .swiper-pagination {
  margin-left: 18px;
  position: static;
  display: inline-block;
  min-width: 62px;
  height: 31px;
  border-radius: 20px;
  background: rgba(36, 36, 36, 0.8);
  color: #8d8d8d;
  width: auto;
  padding: 2px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: -0.4px;
}
.popup-content .popup-swiper-container .swiper-pagination .swiper-pagination-current {
  color: #fff;
}
.popup-content .popup-swiper-container .swiper-button-area {
  width: 80px;
  position: absolute;
  right: 0;
  top: 5px;
  height: 34px;
}
.popup-content .popup-swiper-container .swiper-button-area .swiper-button-next, .popup-content .popup-swiper-container .swiper-button-area .swiper-button-prev {
  width: 34px;
  height: 34px;
  background-size: cover;
}
.popup-content .popup-swiper-container .swiper-button-area .swiper-button-prev, .popup-content .popup-swiper-container .swiper-button-area .swiper-container-rtl .swiper-button-next {
  background-image: url("../images/main/popup-prev.png");
  left: 0;
  right: auto;
}
.popup-content .popup-swiper-container .swiper-button-area .swiper-button-next, .popup-content .popup-swiper-container .swiper-button-area .swiper-container-rtl .swiper-button-prev {
  background-image: url("../images/main/popup-next.png");
  right: 0;
}
.popup-content .popup-swiper-header {
  position: relative;
  padding-bottom: 10px;
}
.popup-content .popup-swiper-header__text {
  font-size: 20px;
  letter-spacing: -0.4px;
  vertical-align: middle;
  line-height: 1.5;
}
.popup-content .popup-quick-menu {
  margin-top: 44px;
  padding-top: 44px;
  border-top: 1px solid #cfcfcf;
}
.popup-content .popup-quick-menu::after {
  content: '';
  display: block;
  clear: both;
}
.popup-content .popup-quick-menu__item {
  width: 33.33%;
  float: left;
  text-align: center;
  position: relative;
}
.popup-content .popup-quick-menu__item:after {
  content: '';
  width: 1px;
  height: 133px;
  background: #cfcfcf;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 5px;
}
.popup-content .popup-quick-menu__item:last-child:after {
  content: none;
}
.popup-content .popup-quick-menu__img {
  display: block;
  margin: 0 auto 20px;
}
.popup-content .popup-quick-menu__text {
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 1.33;
}

.main-section-area {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  -webkit-transition: margin 2s;
  transition: margin 2s;
}

.main-section:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-section-visual .main-visual-swiper-container {
  overflow: hidden;
  height: 92.5%;
}
.main-section-visual .main-visual-swiper-slide .main-slide-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transform: scale(1.2, 1.2) rotate(0.002deg);
  transform: scale(1.2, 1.2) rotate(0.002deg);
  -webkit-transition: transform 4000ms ease-in-out;
  -moz-transition: transform 4000ms ease-in-out;
  -o-transition: transform 4000ms ease-in-out;
  transition: transform 4000ms ease-in-out;
}
.main-section-visual .main-visual-swiper-slide .main-slide-text {
  position: absolute;
  left: 100px;
  top: 0;
  display: flex;
  padding-top: 10%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  color: #ffffff;
}
.main-section-visual .main-visual-swiper-slide1 .main-slide-bg {
  background-image: url("../images/main/main-visual-img1.jpg");
}
.main-section-visual .main-visual-swiper-slide2 .main-slide-bg {
  background-image: url("../images/main/main-visual-img2.jpg");
}
.main-section-visual .main-visual-swiper-slide3 .main-slide-bg {
  background-image: url("../images/main/main-visual-img3.jpg");
}
.main-section-visual .main-visual-swiper-slide.swiper-slide-active .main-slide-bg {
  -webkit-transform: scale(1.01, 1.01) rotate(0.002deg);
  transform: scale(1.01, 1.01) rotate(0.002deg);
}

.main-section.animated {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.main-section.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 10;
}

.main-section.pass {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.main-section.fix {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.main-visual-controller {
  position: absolute;
  right: 150px;
  top: 30vh;
  color: #ffffff;
  width: 120px;
  height: 44px;
  z-index: 111;
}
.main-visual-controller .swiper-pagination {
  color: #bcbcbc;
}
.main-visual-controller .swiper-pagination-current {
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 4px;
}
.main-visual-controller .swiper-pagination-total {
  color: #ffffff;
  font-size: 18px;
  margin: 0 4px;
}
.main-visual-controller .swiper-button-next, .main-visual-controller .swiper-button-prev {
  background-size: 9px;
  margin-top: -25px;
}
.main-visual-controller .swiper-button-next, .main-visual-controller .swiper-container-rtl .swiper-button-prev {
  background-image: url("../images/main/icon-next1.png");
  right: 0;
}
.main-visual-controller .swiper-button-prev, .main-visual-controller .swiper-container-rtl .swiper-button-next {
  background-image: url("../images/main/icon-prev1.png");
  left: 0;
}
.main-visual-controller .swiper-controller {
  height: 38px;
  width: 20px;
  position: absolute;
  right: -20px;
  background-repeat: no-repeat;
  top: 0;
  z-index: 111;
  background-position: 50% 50%;
}
.main-visual-controller .swiper-controller--stop {
  background-image: url("../images/main/icon-stop.png");
}
.main-visual-controller .swiper-controller--play {
  display: none;
  background-image: url("../images/main/icon-play.png");
}

.main-quick-menu {
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: 11;
  padding-left: 25px;
  height: calc(153px + 7.5%);
  padding-bottom: calc(5.5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.main-quick-menu:before {
  content: '';
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.23);
}
.main-quick-menu__icon {
  margin-right: 12px;
  vertical-align: bottom;
}
.main-quick-menu .main-quick-menu__link {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.main-quick-menu .main-quick-menu__link:after {
  content: '';
  width: 0;
  height: 1px;
  background: #ffffff;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease .1s;
  -moz-transition: all 0.5s ease .1s;
  -o-transition: all 0.5s ease .1s;
  transition: all 0.5s ease .1s;
  margin-top: 8px;
}
.main-quick-menu .main-quick-menu__link:hover:after {
  width: 40px;
}

.section-mouse {
  bottom: -25px;
  position: absolute;
  left: calc(50% - 19px);
  z-index: 1;
}
.section-mouse.premium {
  left: calc(50% - 36px);
}
.section-mouse.brand {
  left: calc(50% - 26px);
}

.main-section-content {
  height: 92.5%;
}
.main-section-content-premium {
  background-color: #001241;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url("../images/main/premium-bg-pattern.png");
  padding-top: 13%;
  box-sizing: border-box;
}
.main-section-content-premium .swiper-slide {
  display: flex;
}
.main-section-content-premium .premium-slide-text-area {
  padding-left: 99px;
  padding-top: 40px;
}
.main-section-content-premium .premium-slide-text-area .premium-slide__title {
  color: #273d6c;
  font-size: 37px;
  font-weight: 800;
  letter-spacing: -0.75px;
  margin-bottom: 34px;
}
.main-section-content-premium .premium-slide-text-area .premium-slide-text {
  color: #ffffff;
}
.main-section-content-premium .premium-slide-text-area .premium-slide-text b {
  font-size: 35px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.main-section-content-premium .premium-slide-text-area .premium-img-text {
  margin-top: 44px;
  margin-bottom: 54px;
}
.main-section-content-premium .premium-slide-text-area .premium__link {
  width: 150px;
  border: 1px solid #ffffff;
  height: 38px;
  background-repeat: no-repeat;
  background-image: url("../images/main/premium-button-arrow.png");
  display: block;
  background-position: 83% 47%;
}
.main-section-content-premium .premium-slide-img-area {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
}
.main-section-content-premium .premium-slide-img-text {
  background: #fff;
  position: absolute;
  right: -50px;
  width: 101px;
  bottom: 0;
  height: 296px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 14px;
  box-sizing: border-box;
  padding-right: 18px;
}
.main-section-content-premium .premium-slide-img-text strong {
  line-height: 23px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 20px;
  font-weight: normal;
}
.main-section-content-premium .premium-slide-img-text strong b {
  font-size: 30px;
}
.main-section-content-premium .premium-slide-controller {
  position: absolute;
  color: #fff;
  width: 101px;
  height: 50px;
  z-index: 111;
  top: auto;
  bottom: 0;
  right: 360px;
}
.main-section-content-premium .premium-slide-controller .swiper-button-next, .main-section-content-premium .premium-slide-controller .swiper-button-prev {
  background-size: cover;
  margin-top: -25px;
  width: 50px;
  height: 50px;
}
.main-section-content-premium .premium-slide-controller .swiper-button-prev, .main-section-content-premium .premium-slide-controller .swiper-container-rtl .swiper-button-next {
  left: 0;
  background-image: url("../images/main/icon-prev2.png");
}
.main-section-content-premium .premium-slide-controller .swiper-button-next, .main-section-content-premium .premium-slide-controller .swiper-container-rtl .swiper-button-prev {
  right: 0;
  background-image: url("../images/main/icon-next2.png");
}

.main-section-content-brand {
  display: flex;
  padding-top: 130px;
  justify-content: center;
  background: #ffffff;
}
.main-section-content-brand .brand-video-area {
  position: relative;
}
.main-section-content-brand .brand-video-area .brand-logo {
  position: absolute;
  top: -74px;
  left: -74px;
}
.main-section-content-brand .brand-video {
  width: 746px;
  height: 421px;
  background: #eee;
}
.main-section-content-brand .brand-video__subject {
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.32px;
  color: #001241;
}
.main-section-content-brand .brand-text-area {
  margin-right: 5%;
}
.main-section-content-brand .brand-text-area .brand-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.39px;
  color: #001241;
}
.main-section-content-brand .brand-text-area .brand-text--main {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.97px;
}
.main-section-content-brand .brand-text-area .brand-text--main-sub {
  margin: 46px 0 30px;
  font-weight: normal;
  line-height: 1;
}

.main-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  transform: translateY(0%);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.main-section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-section:first-child {
  transform: translateY(0);
}
.main-section:first-child .content-wrapper {
  transform: translateY(0);
}

.main-section:nth-child(1) {
  z-index: 3;
}

.main-section:nth-child(2) {
  z-index: 2;
}

.main-section:nth-child(3) {
  z-index: 1;
}

.main-section.up-scroll {
  transform: translate3d(0, 0, 0);
}
.main-section.up-scroll .content-wrapper {
  transform: translateY(0);
}
.main-section.up-scroll + .main-section {
  transform: translate3d(0, 0, 0);
}
.main-section.up-scroll + .main-section .content-wrapper {
  transform: translateY(0);
}

.main-section.down-scroll {
  transform: translate3d(0, -100vh, 0);
}
.main-section.down-scroll + .main-section:not(.down-scroll) {
  transform: translate3d(0, 0, 0);
}

@keyframes fronte {
  from {
    z-index: 2;
  }
  to {
    z-index: 5;
  }
}
.sub-top-area {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  justify-content: center;
  overflow: hidden;
  background: #10193b;
  box-sizing: border-box;
}
.sub-top-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 10;
  background-image: url("../images/sub/sub-title-bg.png");
  background-position: 50% 50%;
}
.sub-top-title {
  position: relative;
  z-index: 11;
  text-align: center;
}
.sub-top-title .sub-top__title {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: normal;
}
.sub-top-title .sub-top__title:before {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #ffffff;
  margin: 30px auto;
}
.sub .sub-top-menu {
  background: rgba(0, 17, 63, 0.65);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.sub .sub-top-menu__item {
  letter-spacing: -0.5px;
  font-size: 20px;
  color: #ffffff;
}
.sub .sub-top-menu__item + .sub-top-menu__item:before {
  content: '';
  width: 1px;
  height: 20px;
  background: #ffffff;
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}
.sub .sub-top-menu__item.is--active {
  color: #cadbed;
  font-weight: bold;
}
.sub .main-quick-menu {
  padding-bottom: 110px;
  height: 235px;
  z-index: 12;
  left: calc((100% - 1180px) /2 );
}

.sub-content-area {
  min-height: 300px;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.sub-content-title-line {
  width: 1px;
  height: 200px;
  background: #001241;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -31px;
}

.sub-content__title {
  position: absolute;
  left: 0;
  display: flex;
  height: 169px;
  padding-left: 28px;
  font-size: 18px;
  align-items: flex-end;
}
.sub-content__title .sub-content-title-text {
  color: #001241;
}

.sub-content-content {
  padding-top: 250px;
  max-width: 1180px;
  margin: 0 auto;
}
.sub-content-content::after {
  content: '';
  display: block;
  clear: both;
}
