@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}

$parallax-offset: 0;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;
.main-section-area {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  -webkit-transition: margin 1s;
  transition: margin 1s;
  &.show--footer {
    margin-top: -170px;
  }
}

//메인 비주얼 슬라이드
.main-section-visual {
  .main-visual-swiper-container {
    overflow: hidden;
    height: calc(100% - 50px);
  }

  .main-visual-swiper-slide {
    .main-slide-bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      -webkit-transform: scale(1.2, 1.2) rotate(0.002deg);
      transform: scale(1.2, 1.2) rotate(0.002deg);
      -webkit-transition: transform 4000ms ease-in-out;
      -moz-transition: transform 4000ms ease-in-out;
      -o-transition: transform 4000ms ease-in-out;
      transition: transform 4000ms ease-in-out;
    }
    .main-slide-text {
      position: absolute;
      top: 25vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;
      left: 9%;
      color: $white;
      .main-copyright {
        width: 80%;
      }
    }
    &1 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual-img1.jpg");
      }
    }
    &2 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual-img2.jpg");
      }
    }
    &3 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual-img3.jpg");
      }
    }
    &.swiper-slide-active .main-slide-bg {
      -webkit-transform: scale(1.01, 1.01) rotate(0.002deg);
      transform: scale(1.01, 1.01) rotate(0.002deg);
    }
  }
}


.main-section.animated {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.main-section.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 10;
}
.main-section.pass {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.main-section.fix {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}



//
.main-visual-controller {
  position: absolute;
  right: 34px;
  bottom: 4vh;
  color: $white;
  width: 100px;
  height: 20px;
  z-index: 111;
  .swiper-pagination {
    color: #bcbcbc;
    bottom: 0;
  }
  .swiper-pagination-current {
    font-size: 14px;
    font-weight: 600;
    color: $white;
    margin: 0 4px;
  }
  .swiper-pagination-total {
    color: $white;
    font-size: 13px;
    margin: 0 4px;
  }
  .swiper-button-next, .swiper-button-prev {
    background-size: 6px;
    margin-top: 0;
    top: 0;
    height: 100%;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/main/icon-next1.png");
    right: 0;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/main/icon-prev1.png");
    left: 0;
  }
  .swiper-controller {
    height: 20px;
    width: 20px;
    position: absolute;
    right: -20px;
    background-repeat: no-repeat;
    top: 0;
    z-index: 111;
    background-position: 50% 50%;
    background-size: 6px;
    &--stop {
      background-image: url("../images/main/icon-stop.png");
    }
    &--play {
      display: none;
      background-image: url("../images/main/icon-play.png");
    }
  }
}

.main-quick-menu {
  position: absolute;
  left: 5%;
  bottom: 50px;
  z-index: 11;
  padding-left: 17px;
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,.23);
  }
  &__icon {
    margin-right: 12px;
    vertical-align: bottom;
    width: 20px;
  }
  .main-quick-menu {
    &__link {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 12px;
      padding: 10px 0;
      &:after {
        content: '';
        width: 0;
        height: 1px;
        background: $white;
        display: inline-block;
        margin-left: 10px;
        -webkit-transition: all 0.5s ease .1s;
        -moz-transition: all 0.5s ease .1s;
        -o-transition: all 0.5s ease .1s;
        transition: all 0.5s ease .1s;
        margin-top: 8px;
      }
      &:hover {
        &:after {
          width: 40px;
        }
      }
    }
  }
}
.section-mouse {
  width: 6%;
  bottom: -9%;
  position: absolute;
  left: calc(50% - 3%);
  z-index: 1;
  &.premium {
    width: 12%;
    left: calc(50% - 6%);
  }
  &.brand {
    left: calc(50% - 3.5%);
    bottom: -2%;
    width: 7%;
  }
}

.main-section-content {
  height: 100%;
  &-premium {
    background-color: $darkPoint;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-image: url("../images/main/premium-bg.png");
    padding-top: 68px;
    box-sizing: border-box;
    background-size: contain;
    .swiper-slide {
      display: flex;
      flex-direction: column;
    }
    .premium-slide-text-area {
      padding-left: 7%;
      padding-top: 8%;
      .premium-slide__title {
        color: #273d6c;
        font-size: 21px;
        font-weight: 800;
        letter-spacing: -0.75px;
        margin-bottom: 4%;
      }
      .premium-slide-text {
        color: $white;
        b {
          font-size: 23px;
          font-weight: 600;
          display: block;
          margin-bottom: 5px;
        }
      }
      .premium-img-text {
        margin-top: 6%;
        margin-bottom: 9%;
        height: 10px;
      }
      .premium__link {
        width: 150px;
        border: 1px solid $white;
        height: 38px;
        background-repeat: no-repeat;
        background-image: url("../images/main/premium-button-arrow.png");
        display: block;
        background-position: 83% 47%;
      }
    }
    .premium-slide-img-area {
      position: relative;
      display: inline-block;
      padding-bottom: 30px;
      padding-right: 16%;
    }
    .premium-slide-img-text {
      background: #fff;
      position: absolute;
      right: 7%;
      width: auto;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-bottom: 12px;
      box-sizing: border-box;
      padding-right: 14px;
      height: 70%;
      padding-left: 28px;
      strong {
        line-height: 18px;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform: rotate(
                        180deg
        );
        font-size: 16px;
        font-weight: normal;
        letter-spacing: -0.3px;
        b {
          font-size: 22px;
        }
      }
    }
    .premium-slide-controller {
      position: absolute;
      color: #fff;
      width: 71px;
      height: 35px;
      z-index: 111;
      right: 16%;
      top: 20vh;
      .swiper-button-next, .swiper-button-prev {
        background-size: cover;
        width: 35px;
        height: 35px;
        top: 0;
        margin-top: 0;
      }
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0;
        background-image: url("../images/main/icon-prev2.png");
      }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right:0;
        background-image: url("../images/main/icon-next2.png");
      }
    }
  }
}
.main-section-content-brand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $white;
  .brand-video-area {
    position: relative;
    width: 90%;
    margin-top: 10%;
    .brand-logo {
      position: absolute;
      top: -25px;
      right: -17px;
      width: 50px;
    }
  }
  .brand-video {
    width: 100%;
    height: 200px;
    background: #eee;
    iframe {
      width: 100%;
      height: 100%;
    }
    &__subject {
      margin-top: 10px;
      text-align: left;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.32px;
      color: $darkPoint;
    }
  }
  .brand-text-area {
    margin-right: 5%;
    .brand-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: -0.39px;
      color: $darkPoint;
      &--main {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: -0.97px;
        &-sub {
          margin: 5% 0;
          font-weight: normal;
          line-height: 1;
        }
      }
    }
  }
}

.main-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $white;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY(0%);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:first-child {
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
}
@for $i from 1 to ($slide-number + 1) {
  .main-section:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}


.main-section.up-scroll {
  transform: translate3d(0,-$parallax-offset / 2,0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .main-section {
    transform: translate3d(0,$parallax-offset,0);
    .content-wrapper {
      transform: translateY($parallax-offset);
    }
  }
}

.main-section.down-scroll {
  transform: translate3d(0,-(100vh + $parallax-offset),0);
  + .main-section:not(.down-scroll) {
    transform: translate3d(0,-$parallax-offset / 2,0);
  }
}

//.main-section.main-section-visual.active.down-scroll + .main-section {
//  //z-index: 5;
//  -webkit-transition: -webkit-transform 1.5s;
//  transition: -webkit-transform 1.5s;
//  transition: transform 1.5s;
//  transition: transform 1.5s,  -webkit-transform 1.5s;
//  //animation: fronte 1s linear forwards;
//}
@keyframes fronte {
  from { z-index: 2;  }
  to { z-index: 5;  }
}
